<a href="https://colab.research.google.com/github/wkdwhotjr/Caba_nf/blob/main/colab_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [40]:
!pwd

/content

In [44]:
li = ['one','two','three']
li?

In [48]:
li.count?

In [49]:
def power(b,n):
  """b의 n승을 반환"""
  return pow(b,n)

In [51]:
power(3,4)

81

In [53]:
li = ['one','two','three']
li.append('four')
li.clear()

In [54]:
#와일드 카드

[]

In [55]:
[github site](https://github.com/wkdwhotjr/caba_nlp)

SyntaxError: ignored